@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #1976d2;
    border-radius: 20px;
}
